      
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
html,
body {
  background-color:#EEE;
  background: url(../images/root-background-1.jpg) no-repeat center center fixed; 
  height: 100%;
  width: 100%;
  background-size: cover;
}

@media (max-width: 768px) {
    .phoneHeader{
        font-size: .8em;
        padding: 0px;
        margin-top:5px;
        margin-bottom:0px;
    }
    .phoneHeader p{
        font-size: 1em;
    }
    .mapText{
        font-size: 1em;
    }
}

.legendLabel{
    padding-right:5px;
    padding-left:3px;
}

.legendColorBox{
    padding-left:5px;
}

.zone-panel{
    background-color:rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.zone-panel:hover{
    background-color:rgba(0, 0, 0, 0.15);
    cursor:pointer;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
  }

  .pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

.logoImage{
    width:370px;
    margin-bottom:40px;
}

@media (max-width: 768px) {
    .logoImage{
        width:200px;
        padding-bottom:40px;
        display:block;
        margin:auto;
    }
}

.backgroundOverlay{
    background-color:rgba(255, 255, 255, 0.83);
    height: 100%;
    width: 100%;
    position: relative;
    padding-top:50px;
    padding-bottom:30px;
    overflow:auto;
}

.AreaBox {
    width:200px;
    height:200px;
    border-radius: 25px;
    border:2px black solid;
    cursor:pointer;
    text-align: center;
    background-color:#C0DD97;
    padding-top:25px;
}

.AreaBox:hover{
    background-color:#E6D879;
}
.NewAreaBox {
    border-style: dashed;
    background-color:#C0DD97;
}

.time-box{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 53px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #34495e;
    border-right: 1px solid #eee;
  }
}

  .sidebarright {
    position: fixed;
    top: 53px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 0px 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgba(255, 255, 255, 0.6);
    border-right: 1px solid #eee;
  }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
  border-top: 1px solid #466592;
}

.nav-sidebar > li > a {
  padding-left: 20px;
  color: #3498DB;
  cursor:pointer;
}

.sidebarright > ul > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #A8A8A8;
}

.sidebarright > ul {
  /*background-color:#55755E;*/
  margin-top:10px;
}


.nav-sidebar > ul {
    padding:0px;
    cursor:pointer;
}

.nav-sidebar > ul > li > a {
  padding-left: 40px;
  color: #3498DB;
  cursor:pointer;
}

.nav-sidebar > ul > li:hover {
  background-color: #ECF0F1;
}

.nav-sidebar-button{
color: #FFFFFF; background: #2ecc71; border-radius: 10px; padding: 10px; margin: 30px; white-space:nowrap;
}

.nav-sidebar-button:hover {
  background-color: #58d68d; color: #FFFFFF;
}

.navbar-text{
color:#999;
cursor:default;
margin-top: 0px;
}

.navbar-link{
color:#999;
cursor:pointer;
line-height: 20px;
display: block;
padding: 15px 15px 15px 15px;
}



.active  > a {
  color: #FFF !important;
}





/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Sign in Box
 */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
 * Map 
 */
 
 .mapHolder {
  margin-top: 20px;
 }
 
.labels {
 color: black;
 background-color: white;
 font-family: "Lucida Grande", "Arial", sans-serif;
 font-size: 12px;
 font-weight: bold;
 text-align: center;
 width: 100px;
 white-space: nowrap;
}
 
 /*
  * Footer
  */
  
  .footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #CECECE;
	padding-top:5px;
  }
  
.reqstart{
    color:red;
}

.irrigationquestions{
    display:inline;
    width:3em;
}

.zone-progress{
    height: 35px;
}
.zone-progress-bar{
    color: #000;
    
}

.accountLabel{
    font-weight:bold;
    font-size:1.1em;
}

.accountContainer{
    max-width: 700px;
}