<?php

session_start();

if(!isset($_SESSION['User']))
{
    echo '<script type="text/javascript">';
    echo 'window.location = "login.html";';
    echo '</script>';
}
else
{
    echo '<script type="text/javascript">';
    echo 'window.location = "dashboard.html";';
    echo '</script>';
}

?>